@charset "UTF-8";


.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 3px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.deg {
   margin-bottom: 10px;
}

.deg span {
   color: gray;
   font-size: 12px;
}

/* #pdts{
    overflow: auto;
    height: 500px;
} */
        
#productTable {
   width: 100%;
   border-collapse: separate;
   border-spacing: 0;
}
/* 
td {
   border: 2px solid #918f8f;
   text-align: left;
   padding: 8px;
}

#pdts th{
	background: white;
	border-bottom: 2px solid;
	border-top: none;
	border-left: none;
}

#pdts td{
	border-bottom: 1px solid;
	border-top: none;
	border-left: none;
}

th {
   border: 2px solid #918f8f;
   background-color: #f2f2f2;
   position: sticky;
   top: 0px;
   border: 2px solid #918f8f;
   text-align: left;
   padding: 8px;
} */

#productForm input {
	padding:7px;
   border:1px solid #ddd;
}

#productForm th {
   padding-left: 20px;
}

#productForm {
   visibility: hidden;
   display: none;
   position: fixed;
   width: 600px;
   top: 50%;
   left: 50%;
   padding:20px;
   z-index:9999;
   transform: translate(-50%, -50%);
   background-color: white;
   box-shadow: 00px 0px 10px 1px #ddd;
}

#productForm label {
	display: inline-block;
	margin-bottom: 5px;
}

#productForm > div {
	margin-bottom: 10px;
}



.di {
   display:flex;
   flex-direction: culumn;
   justify-content: space-between;
}


#delb{
	border-radius: 3px;
	 font-size: 17px;
	 border: none;
	 background: skyblue;
	 color: white;
	 height: 30px;
	 width: 100px;
}

#delb:hover {
	background-color: blue;
}

.rok2 div > input {
	width: 100%;
	height:40px;
	box-sizing: border-box;
} 


